/src/bin-windows64/diction.bin
/src/bin-windows64/lexicon.db
/src/demo/ai/solarix/engines/.vs/Grammar_Engine_Pro2005/v14/*.suo
/src/demo/ai/solarix/engines/*.opendb
/src/demo/ai/solarix/engines/Grammar_Engine_Pro2005.VC.db
